<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

div.single-block > * {
  text-align: center;
  margin: 0 auto;
}

.single-block-image {
  width: 980px;
  height: 438px;
  margin: 0 auto;
}

.single-block__icon {
  display: block;
  width: 75px;
  height: 75px;
}

{%- endstyle -%}

<div class="single-block section-{{ section.id }}-padding page-width">
  {% for block in section.blocks %}
    <div class="single-block__icon">
      {% render 'icon-shell' %}
    </div>
    {% case block.type %}
    {%- when 'heading' -%}
      <h2 class="single-image__heading ">
        {{ block.settings.heading | escape }}
      </h2>
    {%- when 'caption' -%}
      <h3 class="single-image__caption">{{ block.settings.caption | escape }}</h3>

    {%- when 'button' -%}
      {%- if block.settings.button_label != blank -%}
        <a
        {% if block.settings.button_link == blank %} 
          role="link" aria-disabled="true"
        {% else %} 
          href="{{ block.settings.button_link }}"
        {% endif %} 
        class="button
        {% if block.settings.button_style_secondary %} 
          button--secondary
        {% else %} 
          button--primary
        {% endif %}">
          {{ block.settings.button_label | escape }}
        </a>
      {%- endif -%}
    {%- endcase -%}

    <div class="single-block-image single-image__media--placeholder placeholder">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endfor %}
</div>

    <!-- {
      "type": "single-block-image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "single-block-image",
          "label": "Image"
        }
      ]
    }, -->

{% schema %}
{
  "name": "Single Block",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Single Block Heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Single Block Caption",
          "label": "Caption"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "Button Label",
            "info": "Type in what you want your button to be named"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "single-block",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "caption"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
